@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

*{
    font-family: 'poppins', sans-serif;
}

header{
    background-color: rgb(75, 80, 167);
    padding: 2em;
    width: 100%;
    text-align: center;
    color: white;
    position: fixed;
}

img{
    width: 10%;
    padding: 0%;
    margin-left: 45%;
    margin-top: 240px;
    background-color: rgb(78, 122, 204);
    border-radius: 100%;
    
}

footer{
    background-color: rgb(75, 80, 167);
    padding: 0.1%;
    position: fixed;
    bottom:0%;
    width: 100%;
    text-align: center;
    color: white;
}

form{
    padding: 1%;
    margin-left: 25%;
    margin-right: 25%;
    background-color: rgb(167, 197, 255);
    border-radius: 15%;
    text-align: center;
    
}

.result{
    padding: 1%;
    border-radius: 15%;
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: rgb(30, 98, 161);
    border: 1%;
    color: white;
}

body{
    align-items: center;
    background-color: rgb(236, 239, 255);
}

#butwoman{
    padding: 1%;
    border-radius: 15%;
    margin-top: 2%;
    margin-bottom: 5%;
    background-color: rgb(255, 255, 255);
    border: 1%;
    color: rgb(0, 0, 0);
}

#peso{
    width: 50%;
    margin-bottom: 3%;
}

#altura{
    width: 50%;
}

#butman{
    padding: 1%;
    border-radius: 15%;
    margin-right: 8%;
    margin-top: 2%;
    margin-bottom: 5%;
    background-color: rgb(255, 255, 255);
    border: 1%;
    color: rgb(0, 0, 0);
}